$contrast: #ef767a;

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

header.brand {
  display: flex;

  .site-title {
    text-transform: uppercase;
    font-weight: bold;
    color: $contrast;
    display: block;
    border-right: 1px solid #111;
    padding: 0.5rem 0.5rem 0rem 0;
    margin: 0.75rem 0.5rem 0.5rem 0;
    max-width: 45rem;
    font-size: 0.9rem;

    a {
      text-decoration: none;
      @extend .no-tufte-underline;

      &:hover {
        color: lighten($contrast, 10%);
      }
    }
  }
}

nav.menu ul {
  display: flex;
  max-width: 100%;
  width: unset;
}

footer.page-footer {
  margin-top: 0;
  .brewkit {
    p {
      width: 100%;
    }

    a {
      @extend .no-tufte-underline;
      color: #aaa;

      &:hover {
        transition: 0.3s;
        color: $contrast;
      }
    }
  }
}

article:first-of-type {
  padding-top: 0;
}

article a {
  transition: 0.3s;

  &:hover {
    color: $contrast;
  }
}

// SYNTAX HIGHLIGHTING
div.highlight {
  width: 90%;

  pre {
    background-color: rgb(
      236,
      236,
      231
    ); // default background: rgb(255,255,248)
    width: 100%;
    box-sizing: border-box;
    padding: 1% 0 1% 2.5%;
    code {
      width: inherit;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  table {
    width: 100%;
    box-sizing: border-box;
    pre {
      padding: 0;
    }
  }
}

img {
  max-width: 100% !important;
  width: auto !important;
}

.marginnote {
  img {
    display: block;
    width: auto;
    height: auto;
  }

  figcaption {
    margin: 0;
    float: none;
    max-width: 100%;
  }
}

.sidenote,
.marginnote,
figcaption {
  font-size: 1.1rem;

  p {
    font-size: inherit;
    margin: 0;
    width: 100%;
  }
}

figure.fullwidth {
  figcaption {
    float: none;
    clear: unset;
    display: flex;
    max-width: 100%;
    margin: 0;
  }

  p {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
