{{ $type := .Get "type" }}
{{ $marginnoteDomIdSuffix := .Ordinal }}

{{- if eq $type "margin" -}}
<!-- wrap in margin-note -->
<span class="note-id">
  <label
    for="marginnote-{{ .Page.File.UniqueID }}-{{ $marginnoteDomIdSuffix }}"
    class="margin-toggle"
    >&#8853;</label>
  <input
    type="checkbox"
    id="marginnote-{{ .Page.File.UniqueID }}-{{ $marginnoteDomIdSuffix }}"
    class="margin-toggle"
  />
  <span class="marginnote">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ .Get "src" }}"
        {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        {{- end -}}
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
    {{- .Get "caption" | markdownify -}}
    {{- if .Get "link" }}</a>{{ end -}}
  </span>
</span>
{{- end -}}


<!-- fullwidth image-->
{{- if eq $type "full" }}
<figure class="fullwidth">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ .Get "src" }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (.Get "caption") (.Get "attr") -}}
    <figcaption>
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
            {{- .Get "caption" | markdownify -}}
            {{- with .Get "attrlink" }}
                <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
    {{- end -}}
</figure>
{{- end -}}

<!-- not a margin image -->
{{- if and (ne $type "full") (ne $type "margin")}}
<figure  {{ with .Get "class" }} class="{{ . }}" {{ end }}>
  <span class="note-id">
    <label
      for="marginnote-{{ .Page.File.UniqueID }}-{{ $marginnoteDomIdSuffix }}"
      class="margin-toggle"
      >&#8853;</label>
    <input
      type="checkbox"
      id="marginnote-{{ .Page.File.UniqueID }}-{{ $marginnoteDomIdSuffix }}"
      class="margin-toggle"
    />
    <span class="marginnote">
      <figcaption>
          {{- if or (.Get "caption") (.Get "attr") -}}<p>
              {{- .Get "caption" | markdownify -}}
              {{- with .Get "attrlink" }}
                  <a href="{{ . }}">
              {{- end -}}
              {{- .Get "attr" | markdownify -}}
              {{- if .Get "attrlink" }}</a>{{ end }}</p>
          {{- end }}
      </figcaption>
    </span>
  </span>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ .Get "src" }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (.Get "caption") (.Get "attr") -}}
  
    {{- end -}}
</figure>
{{- end -}}